{% extends "base_login.html" %}
{% block title %}Change Password{% endblock %}

{% block content %}
    <div class="container-lg mb-3">


<div class="row mb-3 mt-3 d-flex justify-content-center">
    <h1 class = "text-center my-header">Změna hesla</h1>

</div>

   


<div class="d-flex justify-content-center " >


    <form action="" method="POST" id = "changePassForm" class="form-horizontal p-4 mt-3 myLoginForm">


<div class="flashMessages">
        {% with messages = get_flashed_messages() %}
        {% if messages %} 
        <ul> {% for message in messages %}
        <p>{{ message }}</p>
        {% endfor %} 
        </ul> 
        {% endif %} {% endwith %}

    </div>
    



        <div class="row mb-4 justify-content-center">
            <div class="inputWrapper">
                <input type="password" name="password1" placeholder="Nové heslo">
            </div>
            
        
        </div >

        <div class="row mb-4 justify-content-center">
              <div class="inputWrapper">
                 <input type="password" name="password2" placeholder="Zadejte heslo znovu">
              </div>
           

        </div>

        <div class="row mb-4 justify-content-center">
              <button type="submit" class="sub-btn">Potvrdit</button>
        </div>
        
       
       
      



    </form>



       
  
    

 </div>
 </div>

<div class="backDiv">

      <a  href="{{url_for('auth.login')}}">Zpět na login</a>
</div>



{% endblock %}