
{% extends "base_login.html" %}
{% block title %}Login{% endblock %}
{% block content %}




    
<div class="container-lg mb-3 ">



<div class="row mb-3 mt-3 d-flex justify-content-center">
    <h1 class = "text-center my-header">Přihlášení</h1>

</div>



<div class="d-flex justify-content-center " >



<form action="{{url_for('auth.login')}}" method="POST" id="registerForm" class="form-horizontal p-4 mt-3 myLoginForm">
        
    <div class="flashMessages">
        {% with messages = get_flashed_messages() %}
        {% if messages %} 
        <ul> {% for message in messages %}
        <p>{{ message }}</p>
        {% endfor %} 
        </ul> 
        {% endif %} {% endwith %}

    </div>
    
   
    <div class="row mb-4 justify-content-center">
        <div class="inputWrapper">
            <input  type="text" name="name" id="" placeholder="Uživatelské jméno">
        </div>
       
        
    </div>
    
    <div class="row mb-4 justify-content-center">
       
        <div class="inputWrapper">
            <input  type="text" name="password" placeholder="Heslo">

        </div>


    </div>
    <div class="row mb-4 justify-content-center">
         <button type="submit" class="sub-btn">Přihlásit</button>
    </div>
       
    <div class="row mb-4 justify-content-center">

         <a href="{{url_for('auth.forgot_password')}}">Zapoměli jste heslo?</a>
    </div>
       


<!-- </div> -->
</form>
</div>
</div>

{% endblock %}