* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
background:
  linear-gradient(to bottom,rgb(251, 233, 145,0.2), rgba(255,255,255,0.2) ),
   url("img/sky1.jpg") no-repeat center/cover;
  max-width: 100%;
  background-image: center;
  width: 100%;
  box-sizing: border-box;
  font-family: 'Lato',sans-serif;
  height: 700px;

 
}


.wrapper {
 display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

#registerForm {
    border: 2px solid rgb(255, 223, 223);
    background: transparent;
    backdrop-filter: blur(20px);
    width: 400px;
    height: 400px;
   
}

#registerForm input {
 
    background: transparent;
    padding: 10px;
    margin: 20px 40px;
    justify-content: center;
    color: white;;
    border: 3px green dashed;

}


#registerForm input::placeholder  {
  color: black;
}


#registerForm button {
  padding: 10px 30px;
  width: 50%;
  margin: 0 20px;

}


.flashMessages {
  position: relative;
  display: flex;
  justify-self: center;

}