* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
background:
  linear-gradient(to bottom,rgb(251, 233, 145,0.2), rgba(255,255,255,0.2) ),
   url("img/sky1.jpg") no-repeat center/cover;
  width: 100%;
  background-image: center;
 
  height: 800px;
  font-family: "Inter", sans-serif;


 
}

.container {
  width: 100vw;
}



 .myLoginForm {
    border: 2px solid rgb(255, 223, 223);
    background: transparent;
    backdrop-filter: blur(20px);
    font-size: 2rem;
   
}

 .myLoginForm input {
 
  border: none;
    background: transparent !important;

    color: white;;
    
}

 .myLoginForm input:-webkit-autofill,
 .myLoginForm input:-webkit-autofill:hover
 .myLoginForm input:-webkit-autofill:focus
 {
  background-color: transparent !important;
  -webkit-box-shadow: none !important;
  border: none !important;
  color: white !important;
}


.inputWrapper {
   position: relative;
   display: inline-block;
}


.inputWrapper::after {
  content: "";
  width: 100%;
  height: 2px;
  position: absolute;
  background-color: rgb(194, 194, 194);
  left: 0;
  bottom: -5px;
  
}

.inputWrapper:hover::after {
  background-color:rgb(113, 102, 102);
}


.inputWrapper:focus-within:after {
  background-color:rgb(113, 102, 102);
}



 .myLoginForm input:focus {
 
  outline: none !important;
  background-color: transparent !important;
  box-shadow: none !important;
}

 .myLoginForm input:hover {
 
  outline: none !important;
  background-color: transparent !important;
}




 .myLoginForm input::placeholder  {
  color: rgb(78, 70, 70);
    font-family: "Inter", sans-serif;

}

.sub-btn {
   
  width: 40% !important;
  border: 2px solid rgb(195, 195, 195);
  margin: 0 auto;
  padding: 3px 10px ;
  background-color: rgb(113, 102, 102);
  border-radius: 8px;
  text-align: center;
  font-size: 1.5rem;
  color: white;
  letter-spacing: 2px;
  font-family: "Inter", sans-serif;


} 

.sub-btn:hover {
  background-color:rgb(62, 61, 59) ;
}

 .myLoginForm a {
  text-align: center;
  text-decoration: None;
  color: white;
  font-size: 18px;
}


 .myLoginForm a:hover {
  color: rgb(203, 203, 203);
}


.flashMessages {
  position: relative;
  display: flex;
  justify-self: center;

}

.flashMessages p {
  font-size: 1.5rem;
  color: rgb(1, 2, 8);
}

.flashMessages ul {
  padding: 0;
}


.my-header {
  color: rgb(238, 238, 238);
  font-size: 3rem;
}


.backDiv {
  display: flex;
  justify-content:center ;
}

.backDiv a {
  color: white;
  font-size: 12px;
}

.backDiv a {
  text-align: center;
  
  color: white;
  font-size: 18px;
}


 .backDiv a:hover {
  color: rgb(203, 203, 203);
}



@media (max-width:550px ) {

  .myLoginForm {
    width: 90vw;
  }
}

