{% extends 'base.html' %}
{% block content %}

<div class="container py-3">
  <div class="text-center mb-4">
    <div class = "d-inline-flex align-items-center gap-3">
      <h2 class="mb-0">Můj Kalendář</h2>

        {% include 'button_with_form.html' %}  
    </div>
  </div>

    




<div id='calendar'></div>

<div id='week-calendar'></div>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        const calendarEl = document.getElementById('calendar');
        const weekCalendarEl = document.getElementById('week-calendar');

        const mainCalendar = new FullCalendar.Calendar(calendarEl, {
            initialView: 'dayGridMonth',
            locale: 'cs',
            height: 'auto',
            firstDay: 1,
            headerToolbar: {
                left: 'prev,next today',
                center: 'title',
                right: ""
            },
            dateClick: function (info) {
                // Když klikneš na den, zobrazíme týdenní kalendář s daným dnem jako začátek
                showWeekCalendar(info.dateStr);
            },
            events: '/events' // Nebo pole s daty
        });

        const weekCalendar = new FullCalendar.Calendar(weekCalendarEl, {
            initialView: 'timeGridWeek',
            locale: 'cs',
            height: 'auto',
            firstDay: 1,
            headerToolbar: false,
            events: '/events',
        });

        mainCalendar.render();

        function showWeekCalendar(dateStr) {
            weekCalendar.gotoDate(dateStr);
            weekCalendarEl.style.display = 'block';
            weekCalendar.render();
        }
    });
</script>
</div>


{% endblock %}