{% extends "base.html" %}

{% block content %}
    <header>
      <div class="head">
          <div class="titleDiv">
              <h1 class="headerh1">Rezervace</h1>
              <div class="logoutBTN">
                  
            <a href="{{url_for('auth.logout')}}">Odhlásit</a>
              </div>
            
          </div>

      </div>
      

    </header>
    
    
    
    
    <div class="container mb-4" >
      
      <div class="d-flex justify-content-center">


         <form id = "my-form" class="form-horizontal w-100">
        

        <div class="row mb-3">
          <label for="name" class="col-sm-3 col-form-label fw-bold my-label">Jméno</label>
          <div class="col-sm-9">
            <input type="text" class="form-control" id="name" name="name" required>
          </div>
        </div>

        <div class="row mb-3">
          <label for="date" class="col-sm-3 col-form-label fw-bold my-label">Datum</label>
          <div class="col-sm-9">
            <input type="date" class="form-control" id="date" name="date" required>
          </div>
        </div>

        <div class="row mb-3">
          
          
              <label for="time" class="col-sm-3 col-form-label fw-bold my-label">Čas rezervace</label>
              <div class="col-sm-9">
            <input type="time" class="form-control" id="time" name="time" required>
          </div>
        

        </div>

        <div class="row mb-3">
          <label for="phone" class="col-sm-3 col-form-label fw-bold my-label">Telefon</label>
          <div class="col-sm-9">
            <input type="number" class="form-control" id="phone" name="phone" required>
          </div>
        </div>

        <div class="row mb-3">
          <label for="phone" class="col-sm-3 col-form-label fw-bold my-label">Druh práce</label>
          
          <div class="col-sm-9 ">
            
              <select class="form-select" aria-label="Default select example" id="workOpt" name="work">
                <option value="1">Stříhání</option>
                <option value="2">Barva + Melír</option>
                <option value="3">Tónování</option>
                <option value="4">Barva + Melír + Foukání</option>
              </select>

           
           
          </div>
      
        </div>

        <div class="text-center">
          <button type="submit" class="btn w-25 fw-bold send-btn" >Odeslat</button>
        </div>
      </form>
      </div>
        
   </div>
    
    
    
      <div class="container ">
        <div id='calendar'></div> 
      </div>
  
<div class="modal fade" id="eventModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-white" id="exampleModalLongTitle">Rezervace</h5>
        <button type="button" class="btn-close btn-close-white" aria-label="Close"></button>
        
      </div>
      <div class="modal-body">
        <div class="form" id ="editForm">
          <form >
            
             <div class="row m-3">
                  <input  class="form-control" type="text" id = form-name name = "name">
            </div>
            
            <div class="center">
                <div class="row m-3">
                  <input class="form-control"  type="date" id = form-date name = "date">
                </div>
                  
                <div class="row m-3">
                  <input class="form-control" type="time" id = form-time name = "time">
                </div>

            </div>
           

            <div class="row m-3">
                  <input class="form-control" type="text" id = form-phone name ="phone">
            </div>


            <div class="row m-3">
                 <select class="form-select" id= form-work name="work" disabled>
                <option value="1">Stříhání</option>
                <option value="2">Barva + Melír</option>
                <option value="3">Tónování</option>
                <option value="4">Barva + Melír + Foukání</option>
              </select>
            </div>

            <div class="row m-2">
                <div class="d-flex justify-content-center">
                    <button type="submit" id="submitButton" class=" d-none" >Uložit</button> 
                </div>
              
              

            </div>
            
        </div>
      </div>
      <div class="modal-footer">
        
          <button type="button" class="form-BTN"  id="cancel-button" >Zrušit</button>
          <button type="button" class="form-BTN"  id="patch-button" >Upravit</button>
          <button type="button" id = "delete-button" class="form-BTN"  data-bs-dismiss="modal">Smazat</button>
      </form>
        
        
      </div>
    </div>
  </div>
</div>




<!-- Modal for delete confirmation -->

<div class="modal" tabindex="-1" role="dialog" id="confirmModal"  aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-white">Smazat Rezervaci</h5>
        <button type="button" class="btn-close btn-close-white" id = "closeModal"aria-label="Close"></button>
        

      </div>
      <div class="modal-body">
        <p>Opravdu chcete rezervaci smazat?</p>
      </div>
      <div class="modal-footer">
        <button type="button"type="button" class="form-BTN" id="confirmYes">Ano</button>
        <button type="button" type="button" class="form-BTN" id="confirmNo">Ne</button>

      </div>
    </div>
  </div>
</div>

  <div class="toastPosition">
        <div class="toasts">
        <div class="checkmark"></div>
        <div class="close"></div>  
        <div class="toastHead">
            <h3></h3>
              
        </div>
         <div class="toastText">
            <p></p>

        </div>
    </div>

    </div>


   


    </div>
 


<script src="static/script.js"></script> 

{% endblock %}