<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <form action="{{url_for('change_reservation', id = id )}}" method="POST">
        <label>Jméno</label>
          <input type="text" name="name"  value="{{to_change.name}}">

          <label>Datum</label>
          <input type="date" name="date"  value="{{to_change.date}}">

          <label>Čas rezervace</label>
          <input type="time" name="time" value="{{to_change.time}}" >

          <label>Telefon</label>
          <input type="tel" name="phone" value={{to_change.phone}} >

          <button type="submit">Uložit</button>
    
</form>
</body>
</html>