{% extends "base.html" %}
{% block title %}Error Log{% endblock %}
{% block content %}
<div class="errWrapper">

    <table class="errTable">
        <tr>
            <th>ID</th>
            <th>Client</th>
            <th>Response</th>
            <th>Time</th>
        </tr>
        {% for err in err_logs %}
        <tr>
            <td>{{err.id}}</td>
            <td>{{err.client | tojson(indent = 2)}}></a></td>
            <td>{{err.response_error | tojson(indent = 2)}}</td>
            <td>{{err.datetime}}</td>
            <td><a href="{{url_for('delete_error', id = err.id )}}">Smazat</a></td>



        </tr>
            {% endfor %}
    </table>

</div>
    
    
    



{% endblock %}