{% extends 'base.html' %}
{% block content %}
 

  


<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModalCenter">
  Launch demo modal
</button>

<div class="modal fade" id="exampleModalCenter" tabindex="-1" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenterTitle">Modal title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form action="{{ url_for('save_reservation') }}" method="post">
          <label>Jméno</label>
          <input type="text" name="name" class="form-control" required>

          <label>Datum</label>
          <input type="date" name="date" class="form-control" required>

          <label>Čas rezervace</label>
          <input type="time" name="time" class="form-control" required>

          <label>Telefon</label>
          <input type="tel" name="phone" class="form-control" required>

          <button type="submit" class="btn btn-primary mt-3">Odeslat</button>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Zavřít</button>
      </div>
    </div>
  </div>
</div>






{% endblock %}